<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='{{url_for("static", filename="dist/output.css") }}'>
</head>

<body class = 'bg-bg'>
    
    <nav class = 'w-full bg-accent p-4 shadow-highlights shadow-md'>
        <div class = 'text-white text-center font-bold text-lg'>
            <ul class = 'flex flex-wrap items-center justify-center'>
                <li>FIND PC PART PRICES</li>
                <li>
                    <a href = '{{ url_for("login") }}' class = 'pl-5 flex justify-end'> LOGIN </a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class = 'pt-12 flex flex-col justify-center items-center'>
        <h1 class = 'text-white underline text-4xl font-bold mb-4'>Welcome to the PC part Price Scraper!</h1>
        <p class = 'text-white mb-8'>Click the button below to start searching for components.</p>
        <a href = '{{ url_for("new_parts") }}' 
        class = 'bg-accent hover:bg-highlights text-white font-bold py-3 px-6 mx-3 rounded-lg transition-colors'>
            FIND PARTS
        </a>
    </div>
</body>
</html>