{% extends "base.html" %}

{% block content %}
<div class='pt-12 flex flex-col justify-center items-center text-center'>
    <h1 class='text-white underline text-4xl font-bold mb-4'>Welcome to the PC Part Price Scraper!</h1>

    {% if current_user.is_authenticated %}
        <p class='text-white mb-8'>Click the button below to start searching for components.</p>
        <a href='{{ url_for("main.new_parts") }}' 
           class='bg-accent hover:bg-highlights text-white font-bold py-3 px-6 mx-3 rounded-lg transition-colors'>
            FIND PARTS
        </a>
    {% else %}
        <p class='text-white mb-8 text-xl'>
            Please <a href='{{ url_for("main.login") }}' class='text-highlights hover:underline'>log in</a> 
            or <a href='{{ url_for("main.register") }}' class='text-highlights hover:underline'>register</a> to start finding parts.
        </p>
    {% endif %}
</div>
{% endblock %}